.why {
    margin-top: -41px;

    .why__container {
        padding-top: 1px;
        position: relative;
    }

    .why__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .why__inner {
        position: relative;
        z-index: 9;
    }

    .title-custom {
        margin-bottom: 55px;
    }

    @media (max-width: 1440px) {
        & {
            margin-top: 0;
        }
    }

    @media (max-width: 576px) {
        .title-custom {
            text-align: left !important;
            margin-bottom: 21px;
            padding-left: 10px;
        }
    }
}